.form {

}

.form__header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100%;
}

.form__title {
    font-size: 26px;
    line-height: 32px;
}

.form__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.form__footer {
    margin-top: 10px;
}

.form__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


/* Form group */

.form__group {
    width: 100%;
}

.form-group__fields {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.form-group__error {
    display: flex;
    justify-content: center;
    margin-top: 3px;
    color: red;
}
